{% extends "transit/layout.html" %}
{% block title %}
Plan Your Journey - Uber Transit
{% endblock title %}
{% block body %}
<h3>Plan your Journey</h3>
<form id="journey" action="{% url 'dashboard' %}" autocomplete="off">
    <content>
        <div class="autocomplete">
            <input type="text" placeholder="Enter your start location" required name="start" id="start" />
        </div>
        <button class="btn">Use current one</button>
        <br><br>
        <input type="text" placeholder="Where to?" required  name="destination"/>
        <button class="btn" id="switch-btn">Switch to Longitude/Latitude input</button>
        <button class="btn btn-secondary" type="submit">Enter</button>
    </content>
    <div class="sidebar">
        <h4>Available Transit Stations</h4>
        {% for transit in transits %}
        {% if transits %}
        {% else %}
        Not Available
        {% endif %}
        {% endfor %}
    </div>
</form>
{% endblock body %}