{% extends "transit/layout.html" %}
{% block title %}
Plan Your Journey - Uber Transit
{% endblock title %}
{% block body %}
<p>Signed in as {{ user.username }}</p>
<h3>Plan your Journey</h3>
<form id="journey" action="{% url 'dashboard' %}" autocomplete="off">
    <div class="autocomplete">
        <input type="text" placeholder="Enter your start location" required name="start" />
    </div>
    <button class="btn">Use current one</button>
    <br><br>
    <input type="text" placeholder="Where to?" required  name="destination"/>
    <button class="btn">Switch to Longitude/Latitude input</button>
    <button class="btn btn-secondary" type="submit">Enter</button>
</form>
{% endblock body %}