{% extends "transit/layout.html" %}
{% block title %} Driver Sign Up - Uber Transit{% endblock title %}
{% block body %}
{% if user.is_authenticated %}
<p>You are currently logged in as {{ user.username }}</p>
{% else %}
        <div class="form">
            {% if message %}
                <p class="text-danger">{{ message }}</p>
            {% endif %}
            <h2>Register as a driver</h2>
            <p>Want to register as a user? <a href="{% url 'register' %}">Click here</a></p>
            <form action="{% url 'driver-register' %}" method="post">
                {% csrf_token %}
                <label>Username</label>
                <input type="text" required name="username" />

                <label>First Name</label>
                <input type="text" required />

                <label>Last Name</label>
                <input type="text" required>

                <label>Email</label>
                <input type="email" required name="email">

                <label>Password</label>
                <input type="password" required name="password">
                <label>Confirm Password</label>
                <input type="password" required name="confirmation">
                <label>Available Seats in your vehicle</label>
                <input type="number" required name="seats">
                <label>Accessibility</label>
                <p><em>Read our <a href="{% url 'accessibility-guide' %}" style="text-decoration:underline;">guide</a> for more information</em></p>
                <br>
                <textarea required name="accessibility" placeholder="Ways riding with you is accessible" col="90"></textarea>
                <div style="display:none;">
                    <label><strong>Location</strong></label>
                    <label>Latitude</label>
                    <input type="number" required name="lat" value="51.513109" step="any">
                    <label>Longitude</label>
                    <input type="number" required name="long" value="-0.1387747" step="any">
                </div>
                <br>
                <button type="submit" class="shadow-sm btn btn-dark">Register</button>
            </form>
            <p>Already registered? <a href="{% url 'login' %}">Log In</a></p>
        </div>{% endif %}
    {% endblock body %}