{% extends 'transit/layout.html' %}
{% load static %}

{% block title %}
Home - Uber Transit
{% endblock title %}


{% block body %}
<div id="main">
    <br>
    <div id="other">
        <p>An easy way to get around Uberland</p><br>
        <h4>Uber ridesharing that syncs with transit systems</h4><br>
        <a href="{% url 'register' %}"><button class="btn"><i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>Put in your journey, get a ride, hop in and go.
        <br><br><br>
        <a href="{% url 'driver-register' %}"><button class="btn btn-light">Sign up as driver</button></a>
    </div>
</div>
<br>

{% endblock %}