{% extends "transit/layout.html" %} 
{% block body %}
    <div class="form">
        {% if message %}
            <p class="text-danger">{{ message }}</p>
        {% endif %}
        <h3>Log In</h3>

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <select name="type">
                <option value="rider">Rider</option>
                <option value="driver">Driver</option>
            </select><br>
            <label>Username</label>
            <input type="text" required name="username" />
            <label>Password</label>
            <input type="text" required name="password" />
            <br>
            <button type="submit">Log In</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
    </div>
{% endblock body %}