{% extends "transit/layout.html" %}
{% block body %}
        <div class="form">
            {% if message %}
                <p class="text-danger">{{ message }}</p>
            {% endif %}
            <h2>Register</h2>
            <p>Want to register as a driver? <a href="{% url 'driver-register' %}">Click here</a></p>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <label>Username</label>
                <input type="text" required name="username" />

                <label>First Name</label>
                <input type="text" required />

                <label>Last Name</label>
                <input type="text" required>

                <label>Email</label>
                <input type="email" required name="email">

                <label>Password</label>
                <input type="password" required name="password">
                <label>Confirm Password</label>
                <input type="password" required name="confirmation">
                <div style="display:none;">
                    <label><strong>Location</strong></label>
                    <label>Latitude</label>
                    <input type="number" required name="lat" value="51.477928" step="any">
                    <label>Logitude</label>
                    <input type="number" required name="long" value="-0.001545" step="any">
                </div>
                <br>
                <button type="submit">Register</button>
            </form>
            <p>Already registered? <a href="{% url 'login' %}">Log In</a></p>
        </div>
{% endblock body %}