{% if message %}
    {{ message }}
{% endif %}

<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <label>Username</label>
    <input type="text" required name="username" />
    <label>First Name</label>
    <input type="text" required />
    <label>Last Name</label>
    <input type="text" required>
    <label>Email</label>
    <input type="email" required name="email">
    <label>Password</label>
    <input type="password" required name="password">
    <label>Confirm Password</label>
    <input type="password" required name="confirmation">
    <label>Location</label>

    <label>Latitude</label>
    <input type="number" required name="lat" value="51.477928" step="any">

    <label>Logitude</label>
    <input type="number" required name="long" value="-0.001545" step="any">
    <button type="submit">Register</button>
</form>