#second {
    background-image: url(bg-image-i.png);
    width: 100%;
    padding-bottom: 100px;
}

#other {
    background-color: white;
    position: relative;
    right: 0;
    padding: 5px;
    border-radius: 2px;
    width:20%;
}